.Recommendation-container{
    background: url('../assets/images/background.jpg');
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
/* .Recommendation-bestmovies{
    display: flex;
    border: 1px solid orange;
    justify-content: center;
    padding: 20px;
} */

.Recommendation-bestmovies{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
}


.Recommendation-text{
    color: #a9a9a9;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
.first-text{
    margin-top: 100px;
}
.second-text{
    margin-top: 50px;
}
